:host {
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: "Eina";
}

.form-login {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 7em 2em 2em 2em;
    background-color: blue;
    margin-left: -15em;
}

.form-login img { 
    width: 100%;
}

h1 {    
    margin-top: 1em;
    font-family: "Eina";
    color: black;
    text-align: center;
}

h4 {
    margin: 0em !important;
    color: black;
    text-align: left;
}

.form-login form {
    display: flex;
    flex-direction: column;
    padding: 1em 4em;
}

.form-login a p {    
    display: flex;
    color: white;
}

.form-login a {
    width: auto;
    margin-top: -1em;
}

.form-login .press-button {
    margin-top: 1em;
    text-align: right;
    padding-right: 3em;
    color: red;
    font-weight: bold;
    font-size: 150%;
    background-color: transparent;
}

.form-login mat-form-field {
    margin: 1em 0;
    color: blue !important;
}

.form-login .press-button span {
    font-size: 200%;
    font-weight: lighter;
}

input.mat-input-element {
    color: white;
}

.spinner {
    float: right;
}

.imagen {
    flex: 7;
    height: 100%;
    background-image: url('../../assets/coxti.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.form-login ::ng-deep .mat-form-field-infix {
    color: blue !important;
}

.form-login ::ng-deep .mat-form-field-flex {
    color: blue !important;
}

::ng-deep .mat-form-field-placeholder {
    color: blue !important;
}

.placeholder {
    color: blue !important;
}

.form-login .mat-error ::ng-deep {
    color: greenyellow !important;
}

.form-login ::ng-deep .mat-form-field-underline {
    background-color: blue !important;
}

@media screen and (max-width: 1000px) {
    .imagen {
        display: none;
    }

    .form-login { 
        flex:1;
        width: 100%;
        margin-left: 0;
    }
}
